.footer-container {
  background-color: #003366;
  color: #ffffff;
  padding: 20px 0;
  font-family: "Arial", sans-serif;
  margin-top: 5rem;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.footer-section {
  width: 30%;
  margin: 10px 0;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-size: 18px;
  border-bottom: 2px solid #ffffff;
  display: inline-block;
  padding-bottom: 5px;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  line-height: 1.8;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #ffffff;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
}
